* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f9;
}

/* TOP */

.top {
  background-color: #263cc4;
  width: 100%;
  height: 40px;
}

.top a:first-child {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 8px;
  left: 60px;
}
.top a:nth-child(2) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 8px;
  left: 100px;
}
.top a:nth-child(3) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: 8px;
  left: 130px;
}
.top a:nth-child(4) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 0 5px 0 380px;
  position: relative;
  top: 8px;
}
.top a:nth-child(5) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 0 120px 0 0;
  position: relative;
  top: 8px;
}
.top a:nth-child(6) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 8px;
}

@media screen and (max-width: 1370px) {
  .top a:nth-child(4) {
    margin: 0 5px 0 280px;
  }
  .top a:nth-child(5) {
    margin: 0 100px 0 0;
  }
}

/* HEAD */
.head {
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0px -25px 0px;
  background: #fff;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 10;
  box-shadow: 0 0 5px 5px #aaaaaa;
}

.phone {
  transition: 0.5s;
}

.phone a {
  text-decoration: none;
  color: #263cc4;
  font-size: 20px;
}
.phone a:first-child {
  font-size: 55px;
  display: inline-block;
  position: relative;
  top: 15px;
}
.phone a:nth-child(2) {
  position: relative;
  top: -15px;
  left: 15px;
}
.phone a:last-child {
  display: block;
  padding-left: 75px;
  position: relative;
  top: -15px;
}

.phone:hover {
  transform: scale(1.1, 1.1);
}

.search input {
  padding: 12px;
  border-radius: 8px;
  width: 380px;
  background-color: #f5f5f5;
  border: 1px solid #e3e2e2;
}

.search button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  width: 50px;
  transition: 0.5s;
}

.search button:hover {
  transform: scale(1.1, 1.1);
}

.home {
  transition: 0.5s;
}

.home:hover {
  transform: scale(1.1, 1.1);
}

.home a {
  text-decoration: none;
  font-size: 50px;
  color: #263cc4;
}

/* CENTER */
.center {
  margin: 30px 0 0px 0;
  font-weight: bolder;
  position: relative;
  left: 45%;
  font-size: 35px;
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: #fff;
  margin-right: 48px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 0 5px 5px #aaaaaa;
}
.center a {
  text-decoration: none;
  font-size: 20px;
}

/* BODY */
.body {
  position: relative;
  top: -15px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.product-info {
  background-color: #e8e8e8;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  text-align: center;
}
.product-info p {
  margin: 10px 0;
  font-size: 12px;
  color: #666;
}

.loc {
  width: 16%;
  height: 620px;
  margin: 55px 0px 10px 57px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: black;
  background-color: #fff;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.danhmuc {
  font-size: 20px;
  margin: 15px 0 15px 15px;
}

.price {
  font-size: 15px;
  margin: 15px 0 15px 15px;
}

.price p {
  margin-bottom: 20px;
}

.price input {
  margin: 10px 0 0 20px;
}

.brand {
  font-size: 15px;
  margin: 15px 0 15px 15px;
}

.brand p {
  margin-bottom: 20px;
}

.brand input {
  margin: 10px 0 0 20px;
}

.loc__sp button {
  float: right;
  margin: 20px 20px 15px 0;
  background-color: rgb(201, 200, 200);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(0, 7, 8);
  transition: 0.5s;
}

.loc__sp button:hover {
  transform: scale(1.1, 1.1);
}

.body1 {
  position: relative;
  display: flex;
  flex-wrap: wrap; /* flexbox xuống dòng */
  margin: 0 0 25px 15px;
  margin-bottom: 25px;
  padding: 50px;
  width: 80%;
}

.body1 h2 {
  color: #fff;
  border: 2px solid;
}

.img {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  margin: 10px;
  transition: 0.5s;
  left: 1.5%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.img:hover {
  transform: scale(1.1, 1.1);
}

.img img {
  padding: 10px 25px 5px 25px;
}

.caption {
  position: relative;
  text-align: center;
  margin: 16px;
  color: black;
  font-size: 20px;
  border-radius: 5px;
}

.caption p:first-child {
  font-size: 25px;
  font-weight: bolder;
}
.caption p:last-child {
  color: red;
  font-weight: bold;
}

.add {
  display: block;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  bottom: 5px;
  text-align: end;
}

.add a {
  color: #263cc4;
  border-radius: 7px;
  padding: 0 8px 0 8px;
}

.img a {
  text-decoration: none;
}

.img img {
  position: relative;
  text-align: center;
}

/*UNDERBOX*/
.footer {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
}

.footer__logo {
  margin-bottom: 10px;
  position: relative;
  left: 60px;
  display: inline-block;
}
.footer__logo a {
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.footer__logo a:hover {
  color: rgb(241, 16, 16);
}

.footer__child {
  display: flex;
  justify-content: space-around;
}

.footer__child p {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer__left {
  flex-basis: 25%;
}
.footer__right a {
  text-decoration: none;
  display: block;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}
.footer__right a:hover {
  color: rgb(241, 16, 16);
}

.footer__center {
  flex-basis: 25%;
}
.footer__right {
  flex-basis: 25%;
  align-content: center;
}

.title {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.fa-phone-square-alt,
.fa-facebook-square,
.fa-twitter-square,
.fa-envelope {
  margin-right: 15px;
  font-size: 30px;
}
