*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat; /*không lặp lại */ 
    background-attachment:fixed; /* đứng yên khi roll */
    background-size: contain;  /*đảm bảo luôn luôn không bị mất phần nào của ảnh */
    background-size: cover; /*đảm bảo phần nội dung luôn có ảnh nền (cover luôn nằm dưới contain để đảm bảo ảnh full màn hình  */
    /* background: #666 url('./img/1.jpeg') no-repeat fixed; Short_hand*/
}


.top{
    background-color: orange;
    height: 40px;
}

.top a:first-child{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 60px;
}
.top a:nth-child(2){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 100px;
}
.top a:nth-child(3){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    top: 8px;
    left: 130px;
}
.top a:nth-child(4){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 5px 0 380px;
    position: relative;
    top: 8px;
}
.top a:nth-child(5){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 120px 0 0;
    position: relative;
    top: 8px;
}
.top a:nth-child(6){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
    top: 8px;
}


/* HEAD */
.head{
    position: relative;
    top: 10px;
    left: -30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0px -25px 0px;
    
}

.home{
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    left: 80px;
    transition: 0.3s;
}

.home:hover{
    transform: scale(1.1,1.1);
}

.home a{
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 8px;
    padding: 5px;   
    position: relative;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    color: orange;
}

.phone{
    transition: 0.5s;    
    position: relative;
    top: -15px;
    right: 70px;
}

.phone a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}
.phone a:first-child{
    font-size: 55px;
    display: inline-block;
    position: relative;
    top: 15px;
}
.phone a:nth-child(2){
    position: relative;
    top: -15px;
    left: 15px;
}
.phone a:last-child{
    display: block;
    padding-left: 75px;
    position: relative;
    top: -15px;
}

.phone:hover{
    transform: scale(1.1,1.1);
}


.search{
    position: relative;
    top: 20px;
}

.search input{
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    width: 380px;
}

.search button{
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    width: 50px;
    transition: 0.5s;
}

.search button:hover{
    transform: scale(1.1,1.1);
}




/* CENTER */
.center{
    margin: 30px 0 0px 0;
    font-weight: bolder;
    position: relative;
    left: 45%;
    font-size: 35px;
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #fff;
    margin-right: 48px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 0;
}
.center a{
    text-decoration: none;
    font-size: 20px;
}







/* BODY */
.body{
    position: relative;
    top: -15px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.loc{
    width: 16%;
    height: 620px;
    margin: 55px 0px 10px 57px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: black;
    background-color: #fff;
    
}

.danhmuc{
    font-size: 20px;
    margin: 15px 0 15px 15px;
}

.price{
    font-size: 15px;
    margin: 15px 0 15px 15px;
}

.price p{
    margin-bottom: 20px;
}

.price input{
    margin: 10px 0 0 20px;
}

.brand{
    font-size: 15px;
    margin: 15px 0 15px 15px;
}

.brand p{
    margin-bottom: 20px;
}

.brand input{
    margin: 10px 0 0 20px;
}

.loc__sp button{
    float: right;
    margin: 20px 20px 15px 0;
    background-color: rgb(201, 200, 200);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(0, 7, 8);
    transition: 0.5s;
}

.loc__sp button:hover{
    transform: scale(1.1,1.1);
}



.body1{
    position: relative;
    display: flex;
    flex-wrap: wrap; /* flexbox xuống dòng */
    margin: 0 0 25px 15px;
    margin-bottom:25px;
    padding: 50px;
    width: 80%;
}

.body1 h2{
    color: #fff;
    border: 2px solid ;
}

.img{
    position: relative;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    transition: 0.5s;
    left: 1.5%;
    box-sizing: border-box;
    background-color: #fff;
}

.img:hover{
    transform: scale(1.1,1.1);
}

.img img{
    padding: 10px 25px 5px 25px;
    
}

.caption{
    position: relative;
    text-align: center;
    margin: 16px;
    color: black;
    font-size: 20px;
    border-radius: 5px;
}

.caption p:first-child{
    font-size: 25px;
    font-weight: bolder;
}
.caption p:last-child{
    color: red;
    font-weight: bold;
}

.add{
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    bottom: 5px;
    text-align: end;
}

.add a{
    color: black ;
    border-radius: 7px;
    padding: 0 8px 0 8px;
}

.img a{
    text-decoration: none;
}

.img img{
    position: relative;
    text-align: center;
}


/*UNDERBOX*/
.footer{
    width: 1479px;
    background-color: #88f1e3;
    padding: 20px;
    display: inline-block;
}

.footer__logo{
    margin-bottom: 10px;
    position: relative;
    left: 60px;
    display: inline-block;
}
.footer__logo a{
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.footer__logo a:hover{
    color: rgb(241, 16, 16);
}

.footer__child{
    display: flex;
    justify-content: space-around;
}

.footer__left{
    flex-basis: 25%;
}
.footer__right a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}
.footer__right a:hover{
    color: rgb(241, 16, 16);
}


.footer__center{
    flex-basis: 25%;
}
.footer__right{
    flex-basis: 25%;
}

.title{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}


.fa-phone-square-alt, .fa-facebook-square, .fa-twitter-square, .fa-envelope{
    margin-right: 15px;
    font-size: 30px;
}