*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat; /*không lặp lại */ 
    background-attachment:fixed; /* đứng yên khi roll */
    background-size: contain;  /*đảm bảo luôn luôn không bị mất phần nào của ảnh */
    background-size: cover; /*đảm bảo phần nội dung luôn có ảnh nền (cover luôn nằm dưới contain để đảm bảo ảnh full màn hình  */
    color: #fff;
} 

.top_head{
    background-color: orange;
    height: 40px;
    margin-bottom: 15px;
}

.top_head a:first-child{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 60px;
}
.top_head a:nth-child(2){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 100px;
}
.top_head a:nth-child(3){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    top: 8px;
    left: 130px;
}
.top_head a:nth-child(4){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 5px 0 380px;
    position: relative;
    top: 8px;
}
.top_head a:nth-child(5){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 120px 0 0;
    position: relative;
    top: 8px;
}
.top_head a:nth-child(6){
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
    top: 8px;
}



.home{
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    left: 240px;
    transition: 0.3s;
}

.home:hover{
    transform: scale(1.1,1.1);
}

.home a{
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 8px;
    padding: 5px;   
    position: relative;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    color: orange;
}

.map{
    background: url('./map.png') no-repeat;
    height:600px;
    background-size: 100% 100%;
    margin: 0 250px;
    cursor: pointer;   
    transition: all 0.25s linear; 
}
.map img{
    width: 1030px;
    height: 600px;
}

.map:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 24px rgb(0 0 0 / 50%);
}
h2{
    margin:30px 0 10px 250px;
}
.contact_top{
    display:flex;
    margin:30px 250px 10px 250px;
    justify-content: space-between;
    align-items: center;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}
.contact_top p{
    font-size: large;
}
.contact_top p:last-child{
    position: relative;
    right: 45px;
}


.form_control{
    margin: 10px 250px;
}

.form_control:first-child input{
    margin-left: 2px;
}

.form_control i{
    border:1px solid #000;
    padding:4.5px ;
    border-radius:50%;
    position: relative;
    top:2px;
}
.form_control_item{
    width:250px;
    height: 30px;
}
.contact_bottom{
    display:flex;
    /* align-items: center; */
}
.contact_bottom_text .textbox{
    margin: 10px 0 10px -200px;
    width:250px;
    height: 110px;  
}
.contact_bottom_in4{
    margin:10px 0 10px 100px;
}
.contact_bottom_in4_item {
    padding:0 10px 10px 0;
}

.btn{
    margin:10px 490px 30px 490px;
}
.btn a{
    font-size:14px;
    border:1px solid;
    padding:5px 25px;
    border-radius:56px;
    color:#fff;
    background-color:#06c1d4;
    text-decoration: none;
}
.btn a:hover{
    color:#06c1d4;
    background-color:#fff;
}
