* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f9;
}

/* TOP */

.top {
  background-color: #263cc4;
  width: 100%;
  height: 40px;
}

.top a:first-child {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 8px;
  left: 60px;
}
.top a:nth-child(2) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 8px;
  left: 100px;
}
.top a:nth-child(3) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: 8px;
  left: 130px;
}
.top a:nth-child(4) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 0 5px 0 380px;
  position: relative;
  top: 8px;
}
.top a:nth-child(5) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 0 120px 0 0;
  position: relative;
  top: 8px;
}
.top a:nth-child(6) {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 8px;
}

@media screen and (max-width: 1370px) {
  .top a:nth-child(4) {
    margin: 0 5px 0 280px;
  }
  .top a:nth-child(5) {
    margin: 0 100px 0 0;
  }
}

.home {
  position: absolute;
  display: inline-block;
  margin-bottom: 40px;
  left: 120px;
  transition: 0.3s;
}

.home:hover {
  transform: scale(1.1, 1.1);
}

.home a {
  text-decoration: none;
  border: 2px solid #3242c5;
  border-radius: 8px;
  padding: 5px;
  position: relative;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  color: #3242c5;
  background-color: #fff;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.login {
  background-color: #fff;
  width: 600px;
  margin: 100px auto;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px #aaaaaa;
}

.login__child {
  padding: 40px;
}

.login__child__1 {
  position: relative;
  max-width: 400px;
  left: 70px;
  height: 70px;
}

.login__child__1 input {
  flex-grow: 1;
  max-height: 20px;
  margin-top: 15px;
  height: 70px;
  width: 350px;
  border-radius: 8px;
  padding: 10px;
}

.btn {
  position: relative;
  left: 120px;
}

.btn button {
  background-color: rgb(243, 45, 45);
  color: #fff;
  border-width: 0;
  border-radius: 8px;
  padding: 10px 80px;
  margin: 15px 0;
  outline: none;
  font-size: medium;
  cursor: pointer;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.footer {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
}

.footer__logo {
  margin-bottom: 10px;
  position: relative;
  left: 60px;
  display: inline-block;
}
.footer__logo a {
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.footer__logo a:hover {
  color: rgb(241, 16, 16);
}

.footer__child {
  display: flex;
  justify-content: space-around;
}

.footer__child p {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer__left {
  flex-basis: 25%;
}
.footer__right a {
  text-decoration: none;
  display: block;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}
.footer__right a:hover {
  color: rgb(241, 16, 16);
}

.footer__center {
  flex-basis: 25%;
}
.footer__right {
  flex-basis: 25%;
  align-content: center;
}

.title {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.fa-phone-square-alt,
.fa-facebook-square,
.fa-twitter-square,
.fa-envelope {
  margin-right: 15px;
  font-size: 30px;
}
